<div class="class">
  <h2>
    Componente list-render.
  </h2>
  <h2>
    Animais:
  </h2>
  <ul>
    <li *ngFor="let animal of animals">
      Nome: {{animal.name}} -
      Tipo: {{animal.type}}
      <button (click)="idade(animal)">Ver idade:</button>
      <button (click)="removeAnimal(animal)">Excluir</button>
    </li>
    <h3>
      {{animalDetails}}
    </h3>
  </ul><br>
  <h2>
    Meus jogos favoritos:
  </h2>
  <ul>
    <li *ngFor="let jogo of jogos">
      Jogo: {{jogo.name}}<br>
      Estilo: {{jogo.type}}
    </li>
  </ul>
</div>