<div class="class">
  <h2>
    componente eventos.
  </h2>
  <p *ngIf="show">Exibindo mensagem!</p>
  <button (click)="showMessage()">click em mim!</button><br>
  <p *ngIf="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tempore velit, consequuntur quas vero incidunt modi quis aliquam cupiditate sapiente. Accusamus nam quas, dignissimos minima ea amet facere suscipit possimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquam ea nisi quos aspernatur eaque dolorem dolores velit consequuntur qui, magni quia architecto dignissimos minima dicta error veritatis. In, autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nulla unde at numquam nihil ullam harum eius minima quae illo deserunt vel dolorem sequi exercitationem delectus eum quam, aperiam officiis!</p>
  <button (click)="txts()">Saiba mais</button><br>
  <p *ngIf="loko">
    hsgdahgdyefkafkasjdhsahdjahdhasdhadhsahdjhjdhajsdhjsahdhdjsahjdhsjahdjsahdjhasjdhjsahdjashdjhsajdhasjdhsajhdkloo15165486451351531456487974655131...
  </p>
  <button (mousemove)="lokom()">...</button>
</div>
